<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
	<head>
		{{>subscriptionsHead}}
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
	</head>
	<body id="subscription">
		{{#if expressFlash}}
	         <div class="alert alert-success" id="success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
		        <i class="icon-tick"></i><strong>{{expressFlash}}!</strong> 
			 </div>
		{{/if}}
		<div id="background-image"></div>
		<div id="myContent">
			<div id="sub-div">
				<div class="row">
					<div class="col-sm-5" id="inner-form">
						<div id="top">
							<p id="group">{{course.title}}</p>
							<h3 id="amount"><span style="color: #fc3158; text-shadow: 1px 1px 1px #222;"> N</span>{{course.price}} </h3>
						</div>	
						<div id="bottom">

							{{#if member}}
								<form class="form-control" method="POST" id="recordPayment" action="/subscriptions/post_course" style="border: none;margin-top: 10px;">
									{{#if success}}
										<p class="alert" id="success">{{success}}</p>
									{{/if}}    
									{{#if error}}
										<p class="alert" id="error">{{error}}</p>
									{{/if}}
									<input class="form-control sub_input" id="fullname" name="fullname" readonly="readonly" value="{{member.fullname}}" placeholder="Full Name" required/>

									<input class="form-control sub_input" id="email" name="username" readonly="readonly" value="{{email}}" placeholder="Email" required />

									<input class="form-control sub_input" id="phone" name="phone" readonly="readonly" value="{{member.phone}}" placeholder="Phone" required="" />

									<!--<input class="form-control sub_input" type="hidden" id="group" name="group" value="{{plan.group}}" />
									
									<select class="form-control sub_input" name="expiry_date" required>
                                      <option value="1 Month">1 Month</option>
                                      <option value="2 Months">2 Months</option>
                                      <option value="3 Months">3 Months</option>
                                      <option value="4 Months">4 Months</option>
                                      <option value="5 Months">5 Months</option>
                                      <option value="6 Months">6 Months</option>
                                    </select>
									-->
									<input class="form-control sub_input" type="hidden" id="course" name="courseId" value="{{course._id}}" />
									<input class="form-control sub_input" type="hidden" id="memberId" name="memberId" value="{{member._id}}" />
									<input class="form-control sub_input" type="hidden" id="amount" name="price" value="{{course.price}}" />
									<script src="https://js.paystack.co/v1/inline.js"></script>
									<button class="form-control sub_input" id="sub_submit" onclick="payWithPaystack()" type="button">Buy Course</button>

								</form>	
							{{else}}	
								<form class="form-control" method="POST" id="recordPaymentNewUser" action="/subscriptions/post_course_new" style="border: none;margin-top: 10px;">
									{{#if success}}
										<p class="alert" id="success">{{success}}</p>
									{{/if}}    
									{{#if error}}
										<p class="alert" id="error">{{error}}</p>
									{{/if}}
									<input class="form-control sub_input" id="fullname" name="fullname" placeholder="Full Name" required/>

									<input class="form-control sub_input" id="email" name="username" placeholder="Email" required />

									<input class="form-control sub_input" id="phone" name="phone" placeholder="Phone" required="" />
									<!--
									<select class="form-control sub_input" name="expiry_date" required>
                                      <option value="1 Month">1 Month</option>
                                      <option value="2 Months">2 Months</option>
                                      <option value="3 Months">3 Months</option>
                                      <option value="4 Months">4 Months</option>
                                      <option value="5 Months">5 Months</option>
                                      <option value="6 Months">6 Months</option>
                                    </select>
									-->
									<input class="form-control sub_input" type="password" name="password" placeholder="Password" required />

									<input class="form-control sub_input" type="password" name="password1" placeholder="Confirm Password" required />								
									
									<input class="form-control sub_input" type="hidden" id="course" name="courseId" value="{{course._id}}" />
									
									<input class="form-control sub_input" type="hidden" id="amount" name="price" value="{{course.price}}" />
									<script src="https://js.paystack.co/v1/inline.js"></script>
									<button class="form-control sub_input" id="sub_submit" onclick="payWithPaystackNewUser()" type="button">Buy Course</button>

								</form>	
							{{/if}}	

						</div>	
					</div>
					
				</div>

				<form>
    				<script>
					  function payWithPaystackNewUser(){
						var handler = PaystackPop.setup({
						  key: "pk_live_5d07f34d824cb9619768b077938e10be4ab2642b",
						  email: document.getElementById('email').value,
						  amount: {{course.price}}00,
						  ref: "{{time}}",
						  currency: "NGN",
						  metadata: {
							 custom_fields: [
								{ display_name: "Full Names", variable_name: "full_names", value: document.getElementById('fullname').value },
								{ display_name: "Email Address", variable_name: "email_address", value: document.getElementById('email').value },
								{ display_name: "Phone Number", variable_name: "phone_number", value: document.getElementById('phone').value },
								
							 ]
						  },
						  callback: function(response){
							  alert('success. transaction ref is ' + response.reference);
							  document.getElementById("recordPaymentNewUser").submit();
							  
						  },
						  onClose: function(){
							  alert('Transaction Cancelled');
							  
						  }
						});
						handler.openIframe();
					  }
					</script>
				</form>

				<form>
    				<script>
					  function payWithPaystack(){
						var handler = PaystackPop.setup({
						  key: "pk_live_5d07f34d824cb9619768b077938e10be4ab2642b",
						  email: document.getElementById('email').value,
						  amount: {{course.price}}00,
						  ref: "{{time}}",
						  currency: "NGN",
						  metadata: {
							 custom_fields: [
								{ display_name: "Full Names", variable_name: "full_names", value: document.getElementById('fullname').value },
								{ display_name: "Email Address", variable_name: "email_address", value: document.getElementById('email').value },
								{ display_name: "Phone Number", variable_name: "phone_number", value: document.getElementById('phone').value },
								
							 ]
						  },
						  callback: function(response){
							  alert('success. transaction ref is ' + response.reference);
							  document.getElementById("recordPayment").submit();
							  
						  },
						  onClose: function(){
							  alert('Transaction Cancelled');
							  
						  }
						});
						handler.openIframe();
					  }
					</script>
				</form>
			</div>
		</div>	
	</body>
</html>
