<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
	{{>head}}
</head>
<body onload="menu()">
<div class="wthree_agile_admin_info">
<!-- banner -->
      <!-- /w3_agileits_top_nav-->
      <!-- /nav-->
      <div class="w3_agileits_top_nav">
      <ul id="gn-menu" class="gn-menu-main">
             <!-- /nav_agile_w3l -->
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller scrollbar1">
              <ul class="gn-menu agile_menu_drop">
                <li><a href="../"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
                <li><a href="../users/students"> <i class="fa fa-user"></i> Students</a></li>
                <li><a href="../courses/"> <i class="fa fa-university"></i> Courses</a></li>
                <li><a href="../devotion/"> <i class="fa fa-file"></i> Devotions</a></li>
                <li><a href="../videos/"> <i class="fa fa-play"></i> Videos</a></li>
                <li><a href="../audios/"> <i class="fa fa-music"></i> Students</a></li>
                
                
              </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <!-- //nav_agile_w3l -->
        <li class="second logo"><h1><a href="main-page.html"><i class="fa fa-graduation-cap" aria-hidden="true"></i>BRIMI </a></h1></li>
          <li class="second admin-pic">
               <ul class="top_dp_agile">
                  <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile_img"> 
                        <span class="prfil-img"><img src="../uploads/{{admin}}" alt="" style="width: 50px; height: 50px;"> </span> 
                      </div>  
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                      <li> <a href="../users/manageUsers"><i class="fa fa-cog"></i> Manage Users</a> </li> 
                      <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
                      <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                    </ul>
                  </li>
                  
            </ul>
        </li>
        <li class="second top_bell_nav">
           
        </li>
        <li class="second top_bell_nav">
           
        </li>
        <li class="second top_bell_nav">
           
        </li>

        <li class="second w3l_search">
         
            <form action="#" method="post">
              <input type="search" name="search" placeholder="Search here..." required="">
              <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          
        </li>
        <li class="second full-screen">
          <section class="full-top">
            <button id="toggle"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>  
          </section>
        </li>

      </ul>
      <!-- //nav -->
      
    </div>
    <div class="clearfix"></div>
    <!-- //w3_agileits_top_nav-->

		<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
	<div class="inner_content_w3_agile_info">
	<!-- /agile_top_w3_grids-->
	   <div class="agile_top_w3_grids">
          <ul class="ca-menu">
				<li>
					<a href="#">
						
						<i class="fa fa-user" aria-hidden="true"></i>
						<div class="ca-content">
							<h4 class="ca-main">16,808</h4>
							<h3 class="ca-sub">Total Students</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
					  <i class="fa fa-play" aria-hidden="true"></i>
						<div class="ca-content">
							<h4 class="ca-main one">26,808</h4>
							<h3 class="ca-sub one">Total Videos</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-music" aria-hidden="true"></i>
						<div class="ca-content">
						<h4 class="ca-main two">29,008</h4>
							<h3 class="ca-sub two">Total Audios</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-tasks" aria-hidden="true"></i>
						<div class="ca-content">
							<h4 class="ca-main three">49,436</h4>
							<h3 class="ca-sub three">Total Courses</h3>
						</div>
					</a>
				</li>
					<li>
					<a href="#">
						<i class="fa fa-file" aria-hidden="true"></i>
						<div class="ca-content">
							<h4 class="ca-main four">30,808</h4>
							<h3 class="ca-sub four">Total Devotion</h3>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
			</ul>
	   	</div>
	 <!-- //agile_top_w3_grids-->
		<!-- /agile_top_w3_post_sections-->
		<div class="agile_top_w3_post_sections">
	       <div class="col-md-6 agile_top_w3_post agile_info_shadow">
			    <div class="img_wthee_post">
			        <h3 class="w3_inner_tittle">Report</h3>
					<div class="stats-wrap">
						<div class="count_info"><h4 class="count">16,808 </h4><span class="year">Total Students</span></div>
						<div class="year-info"><p class="text-no">20 </p><span class="year">This Year</span></div>
						<div class="clearfix"></div>
					</div>
					<div class="stats-wrap">
						<div class="count_info"><h4 class="count">26,808 </h4><span class="year">Total Videos</span></div>
						<div class="year-info"><p class="text-no">40 </p><span class="year">This Month</span></div>
						<div class="clearfix"></div>
					</div>
					<div class="stats-wrap">
						<div class="count_info"><h4 class="count">29,008 </h4><span class="year">Total Audios</span></div>
						<div class="year-info"><p class="text-no">30 </p><span class="year">This Week</span></div>
						<div class="clearfix"></div>
					</div>
					<div class="stats-wrap">
						<div class="count_info"><h4 class="count">49</h4><span class="year">Total Courses</span></div>
						<div class="clearfix"></div>
					</div>
				  
				</div>
			</div>
		    <div class="col-md-6 agile_top_w3_post_info agile_info_shadow" style="width: 49%;height: 505px;display: block;overflow: hidden;padding-bottom:5px;">
			    <div class="img_wthee_post1" style="min-height: 475px !important;">
					<h3 class="w3_inner_tittle"> Time spent</h3>
			       	<div class="main-example">
						<div class="clock"></div>
						<div class="message"></div>

					</div>
				</div>
            </div>
		    <div class="clearfix"></div>
		</div>
	</div>			   
		<!-- //agile_top_w3_post_sections-->
</div>		

<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2018 BRINWMS. All Rights Reserved | Design by  <a href="https://optisoft.ng/" target="_blank">Optisoft</a> </p>
</div>	
<!--copy rights end here-->



<!-- js -->

{{>footerScripts}}
</body>
</html>