.gn-menu-main > li {
	border: none !important;
}

.modal-body .form-control {
	height: 27px;
}

.modal-body label {
	font-size: 12px;
}

.modal-body .form-group {
	margin-bottom: 7px;
}

.modal-body #upload-div{
	width: 95%;
	height:200px;
	padding-right: 10px;
}

.modal-body select{
		height: 27px;
		padding: 4px !important;
		font-size: 12px !important;
}
p#error{
	width: 100%;
	text-align: center;
	padding: 5px 20px;
	color: #D8000C;
    background-color: #FFD2D2;
}

p#success{
	width: 100%;
	text-align: center;
	padding: 5px 20px;
	color: #4F8A10;
    background-color: #DFF2BF;
}

body#subscription {
  background-image: url('../images/card.jpg');
  /*background-size: cover;*/
  background-repeat: no-repeat;
  min-width: 400px;
}

#inner-image{
  position: relative;	
  background-image: url('../images/card.jpg');
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 !important;
}

#inner-form{
	height: 560px;
	background: #fff;
	max-width: 400px;
	width: 100% !important;
	padding: 0;
}

#myContent{
  background: linear-gradient(0deg,rgba(2,2,5,0.8),rgba(0,0,0,0.8));
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 9999;
  margin: 0 auto;
}

#sub-div{
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
	margin-top: 80px;
	max-width: 400px !important;
	margin: 0 auto;
	z-index: 9999999;
}

@media only screen and (max-width: 800px) {
    #inner-image {
        display: none;
    }
}

#top{
	background: #1e2e70;
	height: auto;
    padding-bottom: 10px;
}
h3#amount{
	transform: scaleY(2.1);
    text-align: center;
    font-family: -webkit-pictograph;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 1px #222;
    

}

.form-control{
	padding-right: 32px !important;
}
p#group{
	padding-top: 7px;
    text-align: center;
    font-family: Boing-Bold,"Arial Black",sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #a8a8a8;
}

input.sub_input {
	margin: 0 10px 20px 10px;
	border: 0 0 1px 0;
	height: 39px;
    max-width: 385px;
    width: 100%;
}

.sub_input {
	margin: 0 10px 20px 10px;
	border: 0 0 1px 0;
	height: 39px;
    max-width: 385px;
    width: 100%;
}

button#sub_submit{
	margin: 0 10px 20px 10px;
	border: 0 0 1px 0;
	height: 39px;
    max-width: 385px;
    width: 100%;
    background: #fc3158;
    border-color: #fc3158;
    color: #eef;

}