<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>

	<!-- /amcharts -->
				<script src="../js/amcharts.js"></script>
		       <script src="../js/serial.js"></script>
				<script src="../js/export.js"></script>	
				<script src="../js/light.js"></script>
				<!-- Chart code -->
	 <script>

	<!-- //amcharts -->
		<script src="../js/chart1.js"></script>
				<script src="../js/Chart.min.js"></script>
		<script src="../js/modernizr.custom.js"></script>
		
		<script src="../js/classie.js"></script>
        <script src="../js/gnmenu.js"></script>
                
        <script>
            function menu(){
            		new gnMenu( document.getElementById( 'gn-menu' ) );
        		
            }  
        </script>  
        <script src="https://gist.github.com/centminmod/7486490.js"></script>    

<!-- /circle-->
	 
	<!-- //circle -->
	<!--skycons-icons-->
<script src="../js/skycons.js"></script>

<!--//skycons-icons-->
<!-- //js -->
<script src="../js/screenfull.js"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});	
		});
		</script>
		<script src="../js/flipclock.js"></script>
	
	<script type="text/javascript">
		var clock;
		
		$(document).ready(function() {
			
			clock = $('.clock').FlipClock({
		        clockFace: 'HourlyCounter'
		    });
		});
	</script>
<script src="../js/bars.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>

<script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function(){
        $('#table').DataTable();
    });
</script>    

<script>
    $(document).ready(function() {
        $('.alert').delay(7000).fadeOut(600);
    });
</script>
