<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
	{{>loginHead}}
</head>
<body>
			<!-- /pages_agile_info_w3l -->

	<div class="pages_agile_info_w3l">
		<!-- /login -->
	   <div class="over_lay_agile_pages_w3ls">
		    <div class="registration">
		    	
		
				<div class="signin-form profile">
					<h2>Welcome, Signin</h2>
					{{#if error}}
					    <p class="alert" id="error">{{error}}</p>
					{{/if}}    
					{{#if success}}
					    <p class="alert" id="success">{{success}}</p>
					{{/if}}
					<div class="login-form">
						<form action="login" method="post">
							<input type="email" name="username" placeholder="E-mail" required="">
							<input type="password" name="password" placeholder="Password" required="">
							<div class="tp">
								<input type="submit" value="SIGN IN">
							</div>
						</form>
					</div>
					<div class="login-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
					
				</div>
			</div>
				<!--copy rights start here-->
			<div class="copyrights_agile">
				 <p>© 2017 Brimi. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">Optisoft</a> </p>
			</div>	
			<!--copy rights end here-->
	    </div>
	</div>
							<!-- /login -->
<!-- //pages_agile_info_w3l -->


{{>loginScripts}}


</body>
</html>