<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
	{{>head}}
</head>
<body onload="menu()">
<div class="wthree_agile_admin_info">
<!-- banner -->
      <!-- /w3_agileits_top_nav-->
      <!-- /nav-->
      <div class="w3_agileits_top_nav">
      <ul id="gn-menu" class="gn-menu-main">
             <!-- /nav_agile_w3l -->
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller scrollbar1">
              <ul class="gn-menu agile_menu_drop">
                <li><a href="../"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
                <li><a href="../users/students"> <i class="fa fa-user"></i> Students</a></li>
                <li><a href="../courses/"> <i class="fa fa-university"></i> Courses</a></li>
                <li><a href="../devotion/"> <i class="fa fa-file"></i> Devotions</a></li>
                <li><a href="../videos/"> <i class="fa fa-play"></i> Videos</a></li>
                <li><a href="../audios/"> <i class="fa fa-music"></i> Students</a></li>
                
                
              </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <!-- //nav_agile_w3l -->
        <li class="second logo"><h1><a href="main-page.html"><i class="fa fa-graduation-cap" aria-hidden="true"></i>BRIMI </a></h1></li>
          <li class="second admin-pic">
               <ul class="top_dp_agile">
                  <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile_img"> 
                        <span class="prfil-img"><img src="../uploads/{{loggedInUser.image}}" alt="" style="width: 50px; height: 50px;"> </span> 
                      </div>  
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                      <li> <a href="../users/manageUsers"><i class="fa fa-cog"></i> Manage Users</a> </li> 
                      <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
                      <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                    </ul>
                  </li>
                  
            </ul>
        </li>
        <li class="second top_bell_nav">
           
        </li>
        <li class="second top_bell_nav">
           
        </li>
        <li class="second top_bell_nav">
           
        </li>

        <li class="second w3l_search">
         
            <form action="#" method="post">
              <input type="search" name="search" placeholder="Search here..." required="">
              <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          
        </li>
        <li class="second full-screen">
          <section class="full-top">
            <button id="toggle"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>  
          </section>
        </li>

      </ul>
      <!-- //nav -->
      
    </div>
    <div class="clearfix"></div>
    <!-- //w3_agileits_top_nav-->

	<div class="inner_content">
	    <div class="inner_content_w3_agile_info two_in">
						  <h2 class="w3_inner_tittle"></h2>
		<!-- tables -->
			{{#if error}}
			    <p class="alert" id="error">{{error}}</h1>
			{{/if}}    
			{{#if success}}
			    <p class="alert" id="success">{{success}}</p>
			{{/if}}
			<div class="agile-tables" style="margin-bottom: 100px;">
				<div class="w3l-table-info agile_info_shadow" style="min-height: 400px;">
				 <h3 class="w3_inner_tittle two">Admin Users <span> <button style="float: right;" class="btn btn-primary btn-flat " data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"> </i> New Admin User</button></span></h3>
					<table id="table">
					<thead>
					  <tr>
					  	<th>Photo</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Address</th>
						<th>Sex</th>
						<th>Age</th>
					  </tr>
					</thead>
					<tbody>
					{{#each admin}}
					  <tr>
					  	<td><img src="../uploads/{{image}}" style="width:100px; height:100px;"/></td>
						<td>{{firstname}} {{lastname}}</td>
						<td>{{phone}}</td>
						<td>{{address}}</td>
						<td>{{sex}}</td>
						<td>{{age}}</td>
					  </tr>
					{{/each}}  
					</tbody>
				  </table>
			
				  
				</div>
			</div>	
		</div>
	</div>	
	<div class="clearfix"></div>
		<!-- //agile_top_w3_post_sections-->
</div>		
							

<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2018 BRINWMS. All Rights Reserved | Design by  <a href="https://optisoft.ng/" target="_blank">Optisoft</a> </p>
</div>	
<!--copy rights end here-->

{{>footerScripts}}
<script>
	function fileInput(){
		document.getElementById('image').click();
	}

	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(170)
                    .height(180);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    
</script>

</body>

<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #007ee5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3><i class="fa fa-plus-circle"> </i> Add New Admin User</h3>
	  </div>
      <div class="modal-body">
        <form id="registerForm" action="register" method="POST" enctype="multipart/form-data"  >

				<div class="input-info">
				</div>

				<div class="row" style="margin-bottom: 0;">
					<div class="col-md-7">
						<label for="field-1">Firstame:<span class="at-required-highlight">*</span></label>
						<div class="form-group">
							<input type="text" name="firstname"  required="true" class="form-control">
						</div>

						<label for="field-1-2">Lastname</label>
						<div class="form-group">
							<input type="text" id="lastname" name="lastname" required="true" class="form-control">
						</div>

						<label for="field-1-2">Gender</label>
						<div class="form-group">
							<select class="form-control" required="true" name="sex" style="color: #777;">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>	
						</div>
					</div>
					<div class="col-md-5">
						
						 <div onclick="fileInput()" id="upload-div" style="background-image: url('../images/uploadImage.png');background-repeat: no-repeat;background-size: 170px 180px; ">
						 	<img id="blah" src="#" alt="" style="width: 170px; height: 180px;"/>
						 	<input type="file" id="image" name="image" onchange="readURL(this);"  style="visibility:hidden;" >

						 </div>	

					</div>	
				</div>	

				<label for="field-1-2">Email:</label>
				<div class="form-group">
					<input type="email" name="username" required="true" class="form-control">
				</div>

				<label for="field-1-2">Age:</label>
				<div class="form-group">
					<input type="number" name="age" required="true" class="form-control">
				</div>

				<label for="field-1-2">Phone:</label>
				<div class="form-group">
					<input type="tel" name="phone" required="true" class="form-control">
				</div>

				<label for="field-1-2">Nationality</label>
				<div class="form-group">
					<select class="form-control" required="true" name="nationality" >
						<option>Nigerian</option>
					</select>	
				</div>
				<label for="field-1-2">Address</label>
				<div class="form-group">
					<input type="text" name="address"  required="true" class="form-control">
				</div>
				<input type="hidden" name="group" value="0" class="form-control">
				<input type="hidden" name="password" value="brimi" class="form-control">

				

				<button type="submit"  id="submit-button" class="btn btn-primary">Add User <i class="fa fa-check"></i></button>
			</form>	
      </div>
      
    </div>

  </div>
</div>
</html>
